@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#content {
  position: fixed;
  z-index: 1;

  top: 0;
  right: 0;
  bottom: 10vh;
  left: 0;

  width: min(85%, 600px);

  margin: auto;

  animation: 2s fade-in;
}

#content {
  font-size: min(max(1.6vw, 1.6vh, 14pt), 300%);
}