@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#content {
  position: fixed;
  z-index: 1;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: min(60%, 600px);
  height: 100px;
  margin: auto;
  padding-bottom: 20vh;

  animation: 2s fade-in;
}

#content>* {
  font-size: 200%;
}