#footer {
  position: fixed;
  z-index: 2;

  bottom: 0;
  width: 100%;

  border-top: 1px solid white;
  background-color: var(--overlay-color);
}

#footer #footer-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;

  padding: 20px;
}

#datenschutz-link,
#impressum-link {
  z-index: 3;
}

@keyframes swipe-down {
  0% {
    translate: 0 0;
  }

  80% {
    translate: 0 0;
  }

  100% {
    translate: 0 100%;
  }
}

#footer-popup {
  position: absolute;
  z-index: 2;

  left: 0;
  bottom: 0;

  width: 100vw;
  height: calc(100% + 35px);

  border-top: 1px solid white;
  background-color: var(--popup-color);

  translate: 0 100%;

  animation: 3s swipe-down ease-in;
}

#footer-popup-text {
  position: absolute;
  width: 100%;
  text-align: center;

  padding: 12px 0 12px 0;

  border-bottom: 1px solid white;
}