:root {
  --background-color: #303030;
  --background-color-rgb: 48, 48, 48;

  --overlay-color: rgba(var(--background-color-rgb), 0.8);

  --font-color: white;

  --color-anchor: #8b8bff;
  --color-anchor-focus: #ababff;
}